@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-stack: 'Roboto';
  --color-bg: rgb(49, 48, 48);
  --text-color: hsl(0, 33%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--text-color);
  font-family: var(--font-stack), sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  width: 100%;
}
